.calendar {
  display: block;
  font-family: Helvetica;
  overflow: hidden;
  margin: 0;
  padding: 0;

  .calendar-title {
    width: 99.4%;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    color: white;
    background-color: teal;
    height: 50px;
    margin: 0;
    padding: 10px;
    font-size: 24px;
  }

  .calendar-cell {
    display: inline;
    float: left;
    width: 14.2%;
    height: 100px;
    border-color: black;
    border-style: solid;
    border-width: 0 1px 1px 0;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    background-color: white;
  }

  .calendar-header {
    .calendar-cell {
      color: white;
      background-color: teal;
      height: 50px;
      text-align: center;
      border-width: 0 0 1px 0;
    }

    .calendar-cell:last-child {
      border-width: 0 1px 1px 0;
    };

    .calendar-cell:first-child {
      border-left: 1px solid black;
    }
  }

  .calendar-body {
    .calendar-cell:nth-child(7n+1) {
      border-left: 1px solid black;
    }

    .calendar-cell-today {
      background-color: #ffc;
    }

    .calendar-cell-space {
      background-color: #ccc;
    }
  }
}
